[submodule "dipu/third_party/DIOPI"]
	path = dipu/third_party/DIOPI
	url = https://github.com/xuq7410/DIOPI.git
[submodule "dipu/third_party/kineto"]
	path = dipu/third_party/kineto
	url = https://github.com/xuq7410/kineto.git
