[submodule "dipu/third_party/kineto"]
	path = dipu/third_party/kineto
	url = git@github.com:xuq7410/kineto.git
[submodule "dipu/third_party/DIOPI"]
	path = dipu/third_party/DIOPI
	url = git@github.com:xuq7410/DIOPI.git
